.nav1 {  font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: smaller}
body {  font-family: Arial, Helvetica, sans-serif}
.nav {  background-color: #FFFFFF}
.nav2 {  list-style-type: square; list-style-position: outside; clip:  rect(   ); font-size: smaller; font-family: Arial, Helvetica, sans-serif}
.YaPPI {  font-weight: bold; color: #CC0033; font-size: larger}
.YaPPIsubtext {  font-size: x-small}
.YaPPIheading { font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: medium}
td {  font-family: Arial, Helvetica, sans-serif}
.pageHeading {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: large}
